.singlePost__hoverEdit {
	text-align: center;
	width: 100%;
	position: fixed;
	height: 60px;
	background: $primaryColorDark;
	bottom: 0;
}

.singlePost__hoverEdit--button {
	background: $primaryColorLight;
	color: white;
	font-family: $primaryFont;
	font-weight: 100;
	border: none;
	margin: 10px 5px;
	padding: 10px 20px;
}

.singlePost__blogHero {
	height: 400px;
	display: flex;
	justify-content: flex-start;
}

.singlePost__blogHero--title {
	display: flex;
	align-items: center;
	max-width: 70%;
	h1 {
		text-align: center;
		background: rgba(0, 0, 0, 0.8);
		padding: 20px 40px 20px 60px;
		color: white;
		font-size: 50px;
	}
}

.singlePost__mainContent {
	padding: 50px 0;
}

.singlePost__mainContent--info {
	text-align: center;
	font-size: 26px;
	color: $primaryColorLight;
	padding-bottom: 30px;
	.fa {
		color: $primaryColorDark;
		padding: 0 20px;
	}
}