// Media Queries
$large: "(max-width: 992px)";
$medium: "(max-width: 720px)";
$small: "(max-width: 540px)";
$extrasmall: "(max-width: 300px)";


$primaryFont: 'Work Sans', sans-serif;

$primaryColorDark: #1B1F3B;
$primaryColorLight: #1C77C3;
$lightGrey: #eeeeee;