@import "partials/_variables";
@import "partials/_setup";
@import "partials/_main";
@import "partials/_typography";


body {
	background: white;
}

nav {
	background: $primaryColorLight;
	padding: 12px 0 ;
}

.wrapper {
	max-width: 1170px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

.dashboard__logoContainer {
	display: flex;
	align-items: center;
	.mainLogo {
		max-width: 200px;
		border: 1px solid white;
		padding: 7px;
	}
}

.dashboard__buttons {
	background: $primaryColorDark;
	padding: 10px 20px;
	color: white;
	border: none;
	font-family: $primaryFont;
	font-weight: 100;
	font-size: 14px;
	letter-spacing: 1px;
	margin-left: 10px;
}

.dashboard__buttonNav {
	background: white;
	padding: 5px 10px;
	color: $primaryColorDark;
	border: none;
	font-family: $primaryFont;
	font-weight: 300;
	font-size: 12px;
	letter-spacing: 1px;
	margin-right: 30px;
	text-decoration: none;
}

.mainNavigation__linksContainer {
	display: flex;
	align-items: center;
	p {
		font-weight: 100;
		color: white;
		font-size: 16px;
	}
}
.mainNavigation__links {
	display: flex;
	justify-content: flex-end;
	list-style: none;
	align-items: center;
}
.fa-sign-out {
	font-size: 25px;
	color: $primaryColorDark;
}


.dashboardContainer {
	height: 100vh;
}

.dashboard__title--left {
	h3 {
		font-weight: 300;
		font-size: 30px;
	}
}

.dashboard__createPost.show, .dashboard__createUser.show {
	visibility: visible;
}

.dashboard__createPost, .dashboard__createUser {
	visibility: hidden;
	position: absolute;
	z-index: 10;
	display: flex;
	justify-content: center;
	background: rgba(0, 0, 0, 0.8);
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}

.dashboard__createPost--container {
	background: $primaryColorLight;
	margin: 50px 0;
	padding: 40px;
	width: 80%;
}


.dashboard__titleBackground {
	background: $lightGrey;
}

.dashboard__title {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px 0;
}

.dashboard__singlePost {
	display: flex;
	align-items: center;
	list-style: none;
	justify-content: space-between;
}

.dashboard__singlePost--image {
	width: 100px;
}

.dashboard__createPostInputs--firstLine {
	width: 100%;
	input {
		width: 33.3%;
	}
	select {
		width: 33.3%;
	}
}

.dashboard__inputs--global {
	input {
		margin: 8px 0;
		font-family: $primaryFont;
		color: $primaryColorDark;
		padding: 12px 15px;
	}
	button {
		background: $primaryColorLight;
		color: white;
		font-family: $primaryFont;
		padding: 10px 15px;
		border: none;
		font-weight: 100;
		margin-top: 20px;
	}
}

.dashboard__createPostInputs--title {
	width: 100%;
}

.dashboard__createPostInputs--content {
	width: 100%;
}








.login__background {
	background: $primaryColorLight;
	height: 100vh;
	width: 100vw;
	margin: 0 auto;
}

.login__container {
	text-align: center;
	margin: 0 auto;
	width: 600px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 65px;
	h4 {
		color: white;
		font-weight: 100;
		font-size: 24px;
		padding: 25px 0;
		line-height: 150%;
	}
}

.login__container--logo {
	border: 1px solid white;
	img {
		margin: 15px 15px 12px 15px;
	}
}

.login__container--modal {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	width: 400px;
	form {
		display: flex;
		flex-direction: column;
		background: $primaryColorDark;
		padding: 50px;
		h5 {
			margin-top: -20px;
			margin-bottom: 20px;
			color: white;
			font-weight: 100;
			font-size: 30px;
		}
		a {
			color: white;
			font-weight: 100;
			font-size: 14px;
			margin-bottom: -20px;
			margin-top: 20px;
		}
		input {
			margin: 8px 0;
			font-family: $primaryFont;
			color: $primaryColorDark;
			padding: 12px 15px;
			text-align: center;
		}
		button {
			background: $primaryColorLight;
			color: white;
			font-family: $primaryFont;
			padding: 10px 15px;
			border: none;
			font-weight: 100;
			margin-top: 20px;
		}
	}
}


.logo_loginPage {
	width: 300px;
	text-align: center;
}














.blogPage__hero {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	height: 300px;
	background:linear-gradient(to bottom right,rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url('../../assets/main_blogImage.jpg');
	background-size: cover;
	background-position: center center;
	h1 {
		color: white;
		font-size: 50px;
		margin-bottom: 20px;
	}
	h4 {
		color: white;
	}
}

.blogPage__postContainer {
	display: flex;
	width: 100%;
	list-style: none;
	flex-wrap: wrap;
}

.blogPage__postContainer--list {
	width: calc(33.3% - 20px);
	background: $lightGrey;
	padding: 20px;
	margin: 30px 10px;
	h1 {
		margin: 10px 0 20px 0;
	}
}

.blogPage__singlePost--image {
	max-width: 100%;
}

.blogPost__button {
	background: $primaryColorDark;
	width: 100%;
	margin-top: 20px;
	padding: 10px 20px;
	color: white;
	border: none;
	font-family: $primaryFont;
	font-weight: 100;
	font-size: 14px;
	letter-spacing: 1px;
}










.singlePost__hoverEdit {
	text-align: center;
	width: 100%;
	position: absolute;
	height: 60px;
	background: $primaryColorDark;
	bottom: 0;
}

.singlePost__hoverEdit--button {
	background: $primaryColorLight;
	color: white;
	font-family: $primaryFont;
	font-weight: 100;
	border: none;
	margin: 10px 5px;
	padding: 10px 20px;

}

.singlePost__blogHero {
	height: 400px;
	display: flex;
	justify-content: center;
}

.singlePost__blogHero--title {
	display: flex;
	align-items: center;
	h1 {
		text-align: center;
		background: rgba(0, 0, 0, 0.8);
		padding: 20px;
		color: white;
		font-size: 50px;
	}
}

