@import "partials/_variables";
@import "partials/_setup";
@import "partials/_main";
@import "partials/_typography";


body {
	background: white;
}

nav {
	background: $primaryColorLight;
}

.wrapper {
	max-width: 1170px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

.dashboard__logoContainer {
	display: flex;
	align-items: center;
	.mainLogo {
		max-width: 200px;
	}
}

.dashboard__buttons {
	background: $primaryColorDark;
	padding: 10px 20px;
	color: white;
	border: none;
	font-family: $primaryFont;
	font-weight: 100;
	font-size: 14px;
	letter-spacing: 1px;
	margin-left: 10px;
}

.mainNavigation__linksContainer {
	display: flex;
	align-items: center;
}
.mainNavigation__links {
	display: flex;
	justify-content: flex-end;
	list-style: none;
	align-items: center;
}
.fa-sign-out {
	font-size: 25px;
	color: $primaryColorDark;
}


.dashboardContainer {
	height: 100vh;
}

.dashboard__createPost.show, .dashboard__createUser.show {
	visibility: visible;
}

.dashboard__createPost, .dashboard__createUser {
	visibility: hidden;
	position: absolute;
	z-index: 10;
	background: rgba(0, 0, 0, 0.8);
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}




.dashboard__title {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.dashboard__singlePost {
	display: flex;
	align-items: center;
	list-style: none;
	justify-content: space-between;
}


.login__background {
	background: $primaryColorLight;
	height: 100vh;
	width: 100vw;
	margin: 0 auto;
}

.login__container {
	text-align: center;
	margin: 0 auto;
	width: 600px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 65px;
	h4 {
		color: white;
		font-weight: 100;
		font-size: 24px;
	}
}

.login__container--logo {
	border: 1px solid white;
	img {
		margin: 15px 15px 12px 15px;
	}
}

.login__container--modal {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	width: 400px;
	form {
		display: flex;
		flex-direction: column;
		background: $primaryColorDark;
		padding: 50px;
		h5 {
			margin-top: -20px;
			margin-bottom: 20px;
			color: white;
			font-weight: 100;
			font-size: 30px;
		}
		a {
			color: white;
			font-weight: 100;
			font-size: 14px;
			margin-bottom: -20px;
			margin-top: 20px;
		}
		input {
			margin: 8px 0;
			font-family: $primaryFont;
			color: $primaryColorDark;
			padding: 12px 15px;
			text-align: center;
		}
		button {
			background: $primaryColorLight;
			color: white;
			font-family: $primaryFont;
			padding: 10px 15px;
			border: none;
			font-weight: 100;
			margin-top: 20px;
		}
	}
}

.login__container--modalButtons {

}

.logo_loginPage {
	width: 300px;
	text-align: center;
}


